
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

@media (max-width:500px) {
    .grid{
        grid-template-columns:1fr;
    }
}
@media (max-width:350px) {
    .grid {
        grid-template-columns: 1fr;
    }
        .shrink input {
            width: 100%;
        }
}
@media (max-width:240px) {
    .responsive{
       display: block;
    }
} 